.city-card {
  width: 250px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  display: inline-block;
}

.form-button {
  min-width: 200px;
  display: block;
  margin: auto
}

.loader {
  display: block;
  margin: auto;
}